body { 
    background: url('../svg/background_map.svg') repeat;
    /* background by SVGBackgrounds.com */
  }
  
  #cy {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }

  #eat {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 1em;
    z-index: -1;
    color: #c88;
  }

  /*nav*/
  body {margin:0;}
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }

  /*dasdasd asd asd */

.ct {
	color: #fff;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
    margin: auto;
	top: 0;
	bottom:0;
	left:0;
	right:0;
}